/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}
ol, ul {list-style: none;}
a {text-decoration: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset END */

/* General Styles */
/* ---------------------------------------------------------------------------- */
/* Just change this props in media queries for different screen sizes. Win! :) */
/* -------------------------------------------------------------------------- */
html {font-size: 62.5%;}
header, footer {padding: 0 17%;}
section {padding: 0 28%;}
/* ---------------------------------------------------------------------- */
body {
	width: 100%;
	max-width: 3072px;
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
	text-align: left;
	font-weight: bold;
}
h1 {font-size: 3rem;}
p {
	padding-top: 4rem;
	font-family: Merriweather, serif;
	font-weight: 300;
}
strong {font-weight: bold;}
nav a {
	color: #000;
	cursor: pointer;
}
[class$='_flex'] {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

/* Main Header Styles */
.header_main {
	padding-top: 2.4rem;
	padding-bottom: 1.8rem;
	background: #f1f1f1;
}
.header_address, .footer_address {text-align: right;}
.header_address strong {font-size: 2.4rem;}
.header_address p, .footer_address p {
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
	color: #848484;
}
.menu_main_flex {
	padding-top: 4.5rem;
	font-size: 1.6rem;
}
.menu_item:last-child {display: none;}

/* 1-st Section - Main Banner */
.banner_main {
	width: 100%;
	height: 45rem;
	background: #c7c7c7 url('img/banners/security-guard-sepia.jpg') no-repeat center center;
	background-size: cover;
}
.banner_main img {
	position: relative;
	top: -50%;
	transform: translate(0,85%);
	display: block;
	margin: 0 auto;
	height: 75%;
}

/* 2-nd Section - About Us */
#about-us {padding-top: 10rem;}

/* Cities Figure */
.cities p {padding-left: 28%;}
.cities_flex {
	padding: 5rem 17% 7rem;
	text-align: center;
}
.city {padding: 1.5rem 1rem;}

/* 3-rd Section - Service */
#service {
	padding-top: 9rem;
	padding-bottom: 8.5rem;
	background: #f1f1f1;
}
.service_item {position: relative;}
.service_item p::before {
	content: '';
	position: absolute;
	top: 5rem;
	left: -3rem;
	width: 4px;
	height: 4px;
	border-radius: 50%;	
	background: #000;
}

/* 4-th Section - Personnel */
#personnel {padding-top: 9rem;}
.personnel_close {padding-bottom: 4.4rem;}

/* Video Slick Slider Figure */
.video_slider_wrapper {
	width: 100%;
	margin-top: 3.6rem;
	padding: 0 17%;
	background: #fff;
}
video {
	width: 100%;
	height: auto;
}

/* 5-th Section - Equipment */
#equipment {
	padding-top: 9rem;
	padding-bottom: 9rem;
}
.equipment_flex {padding-top: 2.5rem;}
.equipment_item {
	width: 49.9%;
	padding: 2rem 1rem;
	text-align: center;
}

/* 6-th Section - Red Zone */
#red-zone {
	padding-top: 6rem;
	padding-bottom: 8.5rem;
	color: #fff;
	background: #696e6d;
}

/* Last 7-th Section - Gallery */
#gallery {display: none;}

/* Main Footer Styles */
.footer_main_flex {
	flex-flow: row nowrap;
	padding-top: 4rem;
	padding-bottom: 1.8rem;
	background: #f1f1f1;
}

/* Media Queries ---------------------------- */

/* All Screens from 1920px ------------------ */
@media only screen and (min-width: 1919px) {
	html {font-size: 80%;}
}

/* All Screens from 1224px to 1920px are okay */

/* All Screens from 768px to 1224px --------- */
@media only screen and (max-width: 1224px) {
	html {font-size: 60%;}
	header, footer {padding: 0 13%;}
	section {padding: 0 20%;}
	.banner_main {height: 40rem;}
	.cities p {padding-left: 20%;}
	.cities_flex {padding: 5rem 13% 7rem;}
	.video_slider_wrapper {padding: 0 13%;}
}

/* All Screens from 600px to 768px ---------- */
@media only screen and (max-width: 768px) {
	html {font-size: 55%;}
	header, footer {padding: 0 5%;}
	section {padding: 0 10%;}
	.banner_main {height: 35rem;}
	.cities p {padding-left: 10%;}
	.cities_flex {padding: 5rem 5% 7rem;}
	.video_slider_wrapper {padding: 0 5%;}
}

/* All Screens from 480px to 600px ---------- */
@media only screen and (max-width: 600px) {
	html {font-size: 50%;}
	h1 {text-align: center;}
	header, footer {padding: 0 3%;}
	section {padding: 0 6%;}
	.banner_main {height: 30rem;}
	.cities p {padding-left: 6%;}
	.cities_flex {padding: 5rem 3% 7rem;}
	.service_item p::before {display: none;}
	.video_slider_wrapper {padding: 0 3%;}
}

/* All Screens to 480px --------------------- */
@media only screen and (max-width: 480px) {
	.location_flex {justify-content: center;}
	.menu_main_flex {
		justify-content: center;
		padding-top: 3rem;
	}
	.menu_item {padding: 1rem;}
	.banner_main {height: 25rem;}
	.city img {display: none;}
}