@font-face {
  font-family: MerriweatherLight;
  src: url(fonts/MerriweatherLight/MerriweatherLight.woff2) format('woff2');
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: MerriweatherBold;
  src: url(fonts/MerriweatherBold/MerriweatherBold.woff2) format('woff2');
  font-style: normal;
  font-weight: 700
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%
}

body {
  width: 100%;
  min-width: 320px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, serif;
  font-size: 1.8rem;
  line-height: 1.4
}

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  transition: all .15s ease
}

footer,
header {
  padding: 0 17%
}

.banner_main,
section {
  padding: 0 28%
}

h1 {
  font-family: MerriweatherBold, serif;
  font-weight: 700
}

h1,
h2 {
  font-size: 3rem
}

p {
  padding-top: 4rem;
  font-family: MerriweatherLight, serif;
  font-weight: 300;
  line-height: 1.6
}

ul {
  list-style: none
}

a {
  text-decoration: none
}

nav a {
  color: #000;
  cursor: pointer
}

[class$='_flex'] {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between
}

.header_main {
  padding-top: 2.4rem;
  padding-bottom: 1.8rem
}

.location_flex span {
  font-size: 1.2rem;
  color: #848484
}

.header_contact,
.header_name {
  width: 50%
}

.header_contact {
  padding-top: 1rem;
  text-align: right
}

.header_contact strong {
  font-size: 2.1rem;
  color: #000
}

.header_contact a {
  color: #000
}

.menu_main_flex {
  padding-top: 5rem;
  font-size: 1.6rem
}

main .banner_main {
  width: 100%;
  background-size: cover
}

.banner_main {
  height: 45rem;
  background: url(img/banners/trainings_1x.jpg) center no-repeat #c7c7c7
}

.banner_main img,
.service_item>p,
.sub_service_item>p {
  position: relative
}

.banner_main img {
  top: 15%;
  display: block;
  height: 75%;
  margin: 0 auto
}

#about-us {
  padding-top: 10rem
}

.cities p {
  padding-left: 28%
}

.cities_flex {
  padding: 5rem 17% 2rem;
  text-align: center
}

.cities_flex+.cities_flex {
  justify-content: space-around;
  padding-top: 0
}

.cities_flex:last-of-type {
  padding-bottom: 7rem
}

.city {
  padding: 1.5rem 1rem
}

#service {
  padding-top: 9rem;
  padding-bottom: 8.5rem;
  background: #f1f1f1
}

.service_item>p::before {
  content: '';
  position: absolute;
  top: 5rem;
  left: -3rem;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000
}

.sub_service_item>p {
  margin-left: 4rem;
  padding-top: 1.5rem;
  line-height: 1.4
}

.sub_service_item>p::before {
  content: "-";
  position: absolute;
  left: -2.5rem
}

#personnel {
  padding: 9rem 0
}

#personnel h2,
#personnel p {
  padding-right: 28%;
  padding-left: 28%
}

#equipment {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: #f1f1f1
}

.equipment_flex {
  padding-top: 2.5rem
}

.equipment_item {
  width: 50%;
  padding: 2rem 1rem;
  text-align: center
}

.footer_main_flex {
  padding-top: 4rem;
  padding-bottom: 7rem;
  font-size: 1.4rem
}

.footer_contact {
  padding-top: 4rem
}

.prop,
.value {
  display: inline-block;
  vertical-align: top
}

.prop {
  width: 10rem;
  color: #848484
}

.contact_email {
  padding: 2.5rem 0
}

.contact_email a {
  text-decoration: underline;
  color: #2282ed
}

.footer_name h3 {
  padding: 3.2rem 0 .5rem;
  font-family: MerriweatherBold, serif;
  font-weight: 700;
  font-size: 2.4rem
}

.footer_name span {
  color: #848484
}

@media (min-width:1920px) {
  html {
    font-size: 75%
  }
  figure,
  footer,
  header {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0
  }
  .banner_main {
    height: 50rem;
    background: url(img/banners/trainings_2x.jpg) center no-repeat #c7c7c7
  }
  .cities p {
    padding-left: 0;
    text-align: center
  }
}

@media (max-width:1224px) {
  html {
    font-size: 60%
  }
  footer,
  header {
    padding: 0 13%
  }
  .banner_main,
  section {
    padding: 0 20%
  }
  .banner_main {
    height: 40rem;
    background: url(img/banners/trainings_0.5x.jpg) center no-repeat #c7c7c7
  }
  .cities p {
    padding-left: 20%
  }
  .cities_flex {
    padding: 5rem 13% 2rem
  }
  .cities_flex+.cities_flex {
    padding-top: 0
  }
  .cities_flex:last-of-type {
    padding-bottom: 7rem
  }
  #personnel h2,
  #personnel p {
    padding-right: 20%;
    padding-left: 20%
  }
}

@media (max-width:980px) {
  .header_name h1 {
    font-size: 2.6rem
  }
  .header_contact strong {
    font-size: 1.7rem
  }
}

@media (max-width:890px) {
  footer,
  header {
    padding: 0 5%
  }
  .banner_main,
  section {
    padding: 0 10%
  }
  .cities p {
    padding-left: 10%
  }
  #personnel h2,
  #personnel p {
    padding-right: 10%;
    padding-left: 10%
  }
}

@media (max-width:768px) {
  html {
    font-size: 55%
  }
  p {
    padding-top: 2.5rem
  }
  .location_flex {
    flex-flow: column nowrap
  }
  .header_contact,
  .header_name {
    width: 100%;
    text-align: center
  }
  .banner_main {
    height: 35rem;
    background: url(img/banners/trainings_0.25x.jpg) center no-repeat #c7c7c7
  }
  #about-us {
    padding-top: 5rem
  }
  .cities_flex {
    padding: 3rem 5% 2rem
  }
  .cities_flex:last-of-type {
    padding-bottom: 4rem
  }
  #personnel,
  #service {
    padding-top: 5rem;
    padding-bottom: 5rem
  }
  .service_item>p::before {
    display: none
  }
  #equipment {
    padding-top: 5rem;
    padding-bottom: 3rem
  }
  .footer_main_flex {
    padding-top: 2rem;
    padding-bottom: 3rem
  }
}

@media (max-width:600px) {
  html {
    font-size: 50%
  }
  h2 {
    text-align: center
  }
  footer,
  header {
    padding: 0 3%
  }
  p {
    padding-top: 2rem
  }
  .banner_main,
  section {
    padding: 0 6%
  }
  .banner_main {
    height: 30rem
  }
  .cities p {
    padding-left: 6%
  }
  .cities_flex {
    padding: 3rem 2% 1rem
  }
  .city img {
    width: auto;
    height: 80px
  }
  #personnel h2,
  #personnel p {
    padding-right: 6%;
    padding-left: 6%
  }
}

@media (max-width:480px) {
  .menu_main_flex {
    justify-content: center;
    padding-top: 3rem
  }
  .menu_item {
    padding: 1rem
  }
  .banner_main {
    height: 25rem
  }
  .cities_flex {
    justify-content: space-around;
    padding: 1rem 2%
  }
  .cities_flex+.cities_flex .city {
    padding-top: 0
  }
  .cities_flex:last-of-type {
    padding-bottom: 3rem
  }
  .footer_main_flex {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 2rem
  }
  .contact_email {
    padding: 1.5rem 0
  }
}

@media (max-width:400px) {
  .city img {
    height: 50px
  }
}

/* Slider Styles */
.relative {
  position: relative;
}

.mod--hidden {
  overflow: hidden;
}

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.news-carrousel__container {
  white-space: nowrap;
}

.news-carrousel__control__list {
  position: absolute;
  list-style-type: none;
  top: 100%;
  right: 0;
  left: 0;
  margin-top: 20px;
  padding-left: 0;
  text-align: center;
}

.news-carrousel__control__list__item {
  display: inline-block;
  margin: 0 .5em;
}

.news-carrousel__control__list__link {
  display: inline-block;
  width: 1em;
  height: 1em;
  background: #fff;
  border: 1px solid #999;
  border-radius: 1em;
  cursor: pointer;
}

.news-carrousel__button-container {
  position: absolute;
}

.news-carrousel__button__previous {
  top: 50%;
  margin-top: -18px;
  left: -10px;
  margin-left: -35px;
}

.news-carrousel__button__next {
  top: 50%;
  margin-top: -18px;
  right: -10px;
  margin-right: -35px;
}

.news-carrousel__button__button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.news-carrousel__control__list__link:focus,
.news-carrousel__control__list__link:hover,
.news-carrousel__control__list__link:active,
.news-carrousel__control__list__link[aria-selected=true] {
  background: #666;
}

.fade .carrousel__content {
  -webkit-animation: fadein 1s;
  animation:         fadein 1s;
  white-space: normal;
}

.fade .carrousel__content[aria-hidden=true] {
  -webkit-animation: fadeout 1s;
  animation:         fadeout 1s;
}

.fade .carrousel__content[aria-hidden=true] {
  display: none;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Slider Custom Styles */
.js-carrousel {
  width: 90%;
	max-width: 1280px;
  margin: 50px auto 20px;
}

.js-carrousel__content > img {
  display: block;
  width: 100%;
	height: auto;
  object-fit: cover;
}

@media (max-width: 999px) {
  .js-carrousel {
    width: 100%;
  }

  .news-carrousel__button__previous,
  .news-carrousel__button__next {
    display: none;
  }
}

@media (max-width: 768px) {
  .js-carrousel {
    margin-top: 25px;
  }
}
