/* Font Family: Merriweather Light */
@font-face {
	font-family: 'MerriweatherLight';
	src: url('fonts/MerriweatherLight/MerriweatherLight.eot');
	src: url('fonts/MerriweatherLight/MerriweatherLight.eot#iefix') format('embedded-opentype'),
	url('fonts/MerriweatherLight/MerriweatherLight.woff2') format('woff2'),
	url('fonts/MerriweatherLight/MerriweatherLight.woff') format('woff'),
	url('fonts/MerriweatherLight/MerriweatherLight.ttf') format('truetype'),
	url('fonts/MerriweatherLight/MerriweatherLight.svg#MerriweatherLight') format('svg');
	font-style: normal;
	font-weight: normal;
}


/* Font Family: Merriweather Bold */
@font-face {
	font-family: 'MerriweatherBold';
	src: url('fonts/MerriweatherBold/MerriweatherBold.eot');
	src: url('fonts/MerriweatherBold/MerriweatherBold.eot#iefix') format('embedded-opentype'),
	url('fonts/MerriweatherBold/MerriweatherBold.woff2') format('woff2'),
	url('fonts/MerriweatherBold/MerriweatherBold.woff') format('woff'),
	url('fonts/MerriweatherBold/MerriweatherBold.ttf') format('truetype'),
	url('fonts/MerriweatherBold/MerriweatherBold.svg#MerriweatherBold') format('svg');
	font-style: normal;
	font-weight: normal;
}



/* Reset Styles */
* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	border: 0;
	outline: 0;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset END */


/* General Styles */

/* ---------------------------------------------------------------------------- */
/* Just change this props in media queries for different screen sizes. Win! :) */
/* -------------------------------------------------------------------------- */

html {
	font-size: 62.5%;
}

header,
footer {
	padding: 0 17%;
}

section,
.banner_main {
	padding: 0 28%;
}

/* ---------------------------------------------------------- */

body {
	width: 100%;
	max-width: 3072px;
  min-width: 320px;
	font-family: Arial, sans-serif;
	font-size: 1.8rem;
	line-height: 1.4;
}

h1 {
	font-family: MerriweatherBold, serif;
	font-weight: 700;
}

h1,
h2 {
	font-size: 3rem;
}

p {
	padding-top: 4rem;
	font-family: MerriweatherLight, serif;
	font-weight: 300;
}

nav a {
	color: #000;
	cursor: pointer;
}

[class$='_flex'] {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}


/* Main Header Styles */
.header_main {
	padding-top: 2.4rem;
	padding-bottom: 1.8rem;
}

.header_name,
.header_contact {
	width: 50%;
}

.location_flex span {
	font-size: 1.2rem;
	color: #848484;
}

.header_contact {
	padding-top: 1rem;
	text-align: right;
}

.header_contact strong {
	font-size: 2.1rem;
	color: #000;
}

.header_contact a {
	color: #000;
}

.menu_main_flex {
	padding-top: 5rem;
	font-size: 1.6rem;
}

.menu_item:last-child {
	display: none;
}


/* 1-st Section - Main Banner */
main .banner_main {
	width: 100%;
	background-size: cover;
}

.banner_main {
	height: 45rem;
	background: #c7c7c7 url('img/banners/trainings_1x.jpg') no-repeat center;
}

.banner_main img {
	position: relative;
	top: 15%;
	display: block;
	height: 75%;
	margin: 0 auto;
}


/* 2-nd Section - About Us */
#about-us {
	padding-top: 10rem;
}


/* Cities Figure */
.cities p {
	padding-left: 28%;
}

.cities_flex {
	padding: 5rem 17% 7rem;
	text-align: center;
}

.city {
	padding: 1.5rem 1rem;
}

/* 3-rd Section - Service */
#service {
	padding-top: 9rem;
	padding-bottom: 8.5rem;
	background: #f1f1f1;
}

.service_item {
	position: relative;
}

.service_item p::before {
	content: '';
	position: absolute;
	top: 5rem;
	left: -3rem;
	width: 4px;
	height: 4px;
	border-radius: 50%;	
	background: #000;
}


/* 4-th Section - Personnel */
#personnel {
 	padding: 9rem 0 4.5rem;
}

#personnel h2,
#personnel p {
	padding-right: 28%;
	padding-left: 28%;
}

.video_wrapper {
	width: 100%;
	margin-top: 3.6rem;
	padding: 0 17%;
	background: #333;
}

video {
	display: block;
	width: 100%;
	height: auto;
}


/* 5-th Section - Equipment */
#equipment {
	padding-top: 9rem;
	padding-bottom: 9rem;
}

.equipment_flex {
	padding-top: 2.5rem;
}

.equipment_item {
	width: 50%;
	padding: 2rem 1rem;
	text-align: center;
}


/* 6-th Section - Red Zone */
#red-zone {
	padding-top: 6rem;
	padding-bottom: 8.5rem;
	color: #fff;
	background: #696e6d;
}


/* Last 7-th Section - Gallery */
#gallery {
	display: none;
}


/* Main Footer Styles */
.footer_main_flex {
	padding-top: 4rem;
	padding-bottom: 7rem;
	font-size: 1.4rem;
}

.footer_contact {
	padding-top: 4rem;
}

.prop,
.value {
	display: inline-block;
	vertical-align: top;
}

.prop {
	width: 10rem;
	color: #848484;
}

.contact_email {
	padding: 2.5rem 0;
}

.contact_email a {
	text-decoration: underline;
	color: #2282ed;
}

.footer_name h3 {
	padding: 3.2rem 0 0.5rem;
	font-family: MerriweatherBold, serif;
	font-weight: 700;
	font-size: 2.4rem;
}

.footer_name span {
	color: #848484;
}



/* Media Queries ---------------------------- */


/* All Screens from 1920px ------------------ */
@media only screen and (min-width: 1920px) {

	html {
		font-size: 75%;
	}

	.banner_main {
		height: 50rem;
		background: #c7c7c7 url('img/banners/trainings_2x.jpg') no-repeat center;
	}

}


/* All Screens from 1224px to 1920px are okay */


/* All Screens from 768px to 1224px ----------- */
@media only screen and (max-width: 1224px) {

	html {
		font-size: 60%;
	}

	header,
	footer,
	.video_wrapper {
		padding: 0 13%;
	}

	section,
	.banner_main {
		padding: 0 20%;
	}

	.banner_main {
		height: 40rem;
		background: #c7c7c7 url('img/banners/trainings_0.5x.jpg') no-repeat center;
	}

	.cities p {
		padding-left: 20%;
	}

	.cities_flex {
		padding: 5rem 13% 7rem;
	}

	#personnel h2,
	#personnel p {
		padding-right: 20%;
		padding-left: 20%;
	}

}


@media only screen and (max-width: 890px) {

	.header_name h1 {
		font-size: 2.6rem;
	}

	.header_contact strong {
		font-size: 1.7rem;
	}

}


/* All Screens from 600px to 768px ---------- */
@media only screen and (max-width: 768px) {

	html {
		font-size: 55%;
	}

	header,
	footer,
	.video_wrapper {
		padding: 0 5%;
	}

	p {
		padding-top: 2.5rem;
	}

	section,
	.banner_main {
		padding: 0 10%;
	}

	.banner_main {
		height: 35rem;
		background: #c7c7c7 url('img/banners/trainings_0.25x.jpg') no-repeat center;
	}

	#about-us {
		padding-top: 5rem;
	}

	.cities p {
		padding-left: 10%;
	}

	.cities_flex {
		padding: 3rem 5% 4rem;
	}

	#service,
	#red-zone {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.service_item p::before {
		display: none;
	}

	#personnel {
		padding-top: 5rem;
		padding-bottom: 2rem;
	}

	#personnel h2,
	#personnel p {
		padding-right: 10%;
		padding-left: 10%;
	}

	#equipment {
		padding-top: 7rem;
		padding-bottom: 3rem;
	}

	.footer_main_flex {
		padding-top: 2rem;
		padding-bottom: 3rem;
	}

}


/* All Screens from 480px to 600px ---------- */
@media only screen and (max-width: 600px) {

	html {
		font-size: 50%;
	}

	h2 {
		text-align: center;
	}

	header,
	footer,
	.video_wrapper {
		padding: 0 3%;
	}

	p {
		padding-top: 2rem;
	}

	section,
	.banner_main {
		padding: 0 6%;
	}

	.banner_main {
		height: 30rem;  
	}

	.cities p {
		padding-left: 6%;
	}

	.cities_flex {
		padding: 3rem 2% 4rem;
	}

	#personnel h2,
	#personnel p {
		padding-right: 6%;
		padding-left: 6%;
	}

}


@media only screen and (max-width: 520px) {

	.location_flex {
		flex-flow: column nowrap;
	}

	.header_name,
	.header_contact {
		width: 100%;
		text-align: center;
	}

}


/* All Screens to 480px --------------------- */
@media only screen and (max-width: 480px) {

	.menu_main_flex {
		justify-content: center;
		padding-top: 3rem;
	}

	.menu_item {
		padding: 1rem;
	}

	.banner_main {
		height: 25rem;
	}

	.cities_flex {
		justify-content: space-around;
		padding: 1rem 2% 3rem;
	}

	.city img {
		display: none;
	}

	.video_wrapper {
		padding: 0;
	}

	.footer_main_flex {
		justify-content: center;
		padding-top: 0;
		padding-bottom: 2rem;
	}

	.contact_email {
		padding: 1.5rem 0;
	}

}
